# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.coverprofile

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
debug
*.log
*.sst
build/*
*.log
*.bat
*.conf
*.lnk
creds.json
*.crt
*.key
data
