version: 2.0.{build}
platform: x64
branches:  
  only:
    - master

clone_folder: c:\gopath\src\github.com\emitter-io\emitter

environment:  
  GOPATH: c:\gopath
  GO111MODULE: on

install:  
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - rmdir c:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go1.11.windows-amd64.zip
  - 7z x go1.11.windows-amd64.zip -y -oC:\ > NUL
  - go version
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get github.com/go-playground/overalls

build_script:
- cmd: .\build.bat

artifacts:  
  - path: build/*
    name: binary

deploy:
  - provider: GitHub
    auth_token:
      secure: ImwOgsH/e1F+reDfqNIvoQ773FZHsjQt/4znrFdxUVrs1VNpFK9IUaW4hIL/yl4c
    release: 'v$(appveyor_build_version)'
    description: 'This is Emitter broker build v$(appveyor_build_version).'
    draft: true
    prerelease: true
    artifact: binary
    on:
      branch: master